h2{font-family:Verdana, Geneva, Tahoma, sans-serif ;}
p{height: 500px; background-image: url('gari.jpeg'); background-position-x: center; background-size:30%; background-repeat: no-repeat;}

div{margin: 30px;}

ol{background-color: aqua;}

.Second h2{color: aquamarine;} p{color: aquamarine;}
